---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 120
SortIncludes: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Attach
...
